<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxxy.personManagement.mapper.ApplyMapper">
  <resultMap id="BaseResultMap" type="com.pxxy.personManagement.domain.Apply">
    <id column="ap_id" jdbcType="INTEGER" property="apId" />
    <result column="ap_name" jdbcType="VARCHAR" property="apName" />
    <result column="ap_age" jdbcType="VARCHAR" property="apAge" />
    <result column="ap_gender" jdbcType="VARCHAR" property="apGender" />
    <result column="ap_edu" jdbcType="VARCHAR" property="apEdu" />
    <result column="ap_phone" jdbcType="VARCHAR" property="apPhone" />
    <result column="d_name" jdbcType="VARCHAR" property="dName" />
    <result column="p_position" jdbcType="VARCHAR" property="pPosition" />
    <result column="ap_resume" jdbcType="VARCHAR" property="apResume" />
    <result column="i_sche" jdbcType="INTEGER" property="iSche" />
    <result column="ap_number" jdbcType="VARCHAR" property="apNumber" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pxxy.personManagement.domain.Apply">
    <result column="ap_exp" jdbcType="LONGVARCHAR" property="apExp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ap_id, ap_name, ap_age, ap_gender, ap_edu, ap_phone, d_name, p_position, ap_resume, 
    i_sche, ap_number
  </sql>
  <sql id="Blob_Column_List">
    ap_exp
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.pxxy.personManagement.domain.ApplyExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.pxxy.personManagement.domain.ApplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from apply
    where ap_id = #{apId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apply
    where ap_id = #{apId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pxxy.personManagement.domain.ApplyExample">
    delete from apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pxxy.personManagement.domain.Apply">
    insert into apply (ap_id, ap_name, ap_age, 
      ap_gender, ap_edu, ap_phone, 
      d_name, p_position, ap_resume, 
      i_sche, ap_number, ap_exp
      )
    values (#{apId,jdbcType=INTEGER}, #{apName,jdbcType=VARCHAR}, #{apAge,jdbcType=VARCHAR}, 
      #{apGender,jdbcType=VARCHAR}, #{apEdu,jdbcType=VARCHAR}, #{apPhone,jdbcType=VARCHAR}, 
      #{dName,jdbcType=VARCHAR}, #{pPosition,jdbcType=VARCHAR}, #{apResume,jdbcType=VARCHAR}, 
      #{iSche,jdbcType=INTEGER}, #{apNumber,jdbcType=VARCHAR}, #{apExp,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pxxy.personManagement.domain.Apply">
    insert into apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="apId != null">
        ap_id,
      </if>
      <if test="apName != null">
        ap_name,
      </if>
      <if test="apAge != null">
        ap_age,
      </if>
      <if test="apGender != null">
        ap_gender,
      </if>
      <if test="apEdu != null">
        ap_edu,
      </if>
      <if test="apPhone != null">
        ap_phone,
      </if>
      <if test="dName != null">
        d_name,
      </if>
      <if test="pPosition != null">
        p_position,
      </if>
      <if test="apResume != null">
        ap_resume,
      </if>
      <if test="iSche != null">
        i_sche,
      </if>
      <if test="apNumber != null">
        ap_number,
      </if>
      <if test="apExp != null">
        ap_exp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="apId != null">
        #{apId,jdbcType=INTEGER},
      </if>
      <if test="apName != null">
        #{apName,jdbcType=VARCHAR},
      </if>
      <if test="apAge != null">
        #{apAge,jdbcType=VARCHAR},
      </if>
      <if test="apGender != null">
        #{apGender,jdbcType=VARCHAR},
      </if>
      <if test="apEdu != null">
        #{apEdu,jdbcType=VARCHAR},
      </if>
      <if test="apPhone != null">
        #{apPhone,jdbcType=VARCHAR},
      </if>
      <if test="dName != null">
        #{dName,jdbcType=VARCHAR},
      </if>
      <if test="pPosition != null">
        #{pPosition,jdbcType=VARCHAR},
      </if>
      <if test="apResume != null">
        #{apResume,jdbcType=VARCHAR},
      </if>
      <if test="iSche != null">
        #{iSche,jdbcType=INTEGER},
      </if>
      <if test="apNumber != null">
        #{apNumber,jdbcType=VARCHAR},
      </if>
      <if test="apExp != null">
        #{apExp,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pxxy.personManagement.domain.ApplyExample" resultType="java.lang.Long">
    select count(*) from apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update apply
    <set>
      <if test="record.apId != null">
        ap_id = #{record.apId,jdbcType=INTEGER},
      </if>
      <if test="record.apName != null">
        ap_name = #{record.apName,jdbcType=VARCHAR},
      </if>
      <if test="record.apAge != null">
        ap_age = #{record.apAge,jdbcType=VARCHAR},
      </if>
      <if test="record.apGender != null">
        ap_gender = #{record.apGender,jdbcType=VARCHAR},
      </if>
      <if test="record.apEdu != null">
        ap_edu = #{record.apEdu,jdbcType=VARCHAR},
      </if>
      <if test="record.apPhone != null">
        ap_phone = #{record.apPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.dName != null">
        d_name = #{record.dName,jdbcType=VARCHAR},
      </if>
      <if test="record.pPosition != null">
        p_position = #{record.pPosition,jdbcType=VARCHAR},
      </if>
      <if test="record.apResume != null">
        ap_resume = #{record.apResume,jdbcType=VARCHAR},
      </if>
      <if test="record.iSche != null">
        i_sche = #{record.iSche,jdbcType=INTEGER},
      </if>
      <if test="record.apNumber != null">
        ap_number = #{record.apNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.apExp != null">
        ap_exp = #{record.apExp,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update apply
    set ap_id = #{record.apId,jdbcType=INTEGER},
      ap_name = #{record.apName,jdbcType=VARCHAR},
      ap_age = #{record.apAge,jdbcType=VARCHAR},
      ap_gender = #{record.apGender,jdbcType=VARCHAR},
      ap_edu = #{record.apEdu,jdbcType=VARCHAR},
      ap_phone = #{record.apPhone,jdbcType=VARCHAR},
      d_name = #{record.dName,jdbcType=VARCHAR},
      p_position = #{record.pPosition,jdbcType=VARCHAR},
      ap_resume = #{record.apResume,jdbcType=VARCHAR},
      i_sche = #{record.iSche,jdbcType=INTEGER},
      ap_number = #{record.apNumber,jdbcType=VARCHAR},
      ap_exp = #{record.apExp,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update apply
    set ap_id = #{record.apId,jdbcType=INTEGER},
      ap_name = #{record.apName,jdbcType=VARCHAR},
      ap_age = #{record.apAge,jdbcType=VARCHAR},
      ap_gender = #{record.apGender,jdbcType=VARCHAR},
      ap_edu = #{record.apEdu,jdbcType=VARCHAR},
      ap_phone = #{record.apPhone,jdbcType=VARCHAR},
      d_name = #{record.dName,jdbcType=VARCHAR},
      p_position = #{record.pPosition,jdbcType=VARCHAR},
      ap_resume = #{record.apResume,jdbcType=VARCHAR},
      i_sche = #{record.iSche,jdbcType=INTEGER},
      ap_number = #{record.apNumber,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pxxy.personManagement.domain.Apply">
    update apply
    <set>
      <if test="apName != null">
        ap_name = #{apName,jdbcType=VARCHAR},
      </if>
      <if test="apAge != null">
        ap_age = #{apAge,jdbcType=VARCHAR},
      </if>
      <if test="apGender != null">
        ap_gender = #{apGender,jdbcType=VARCHAR},
      </if>
      <if test="apEdu != null">
        ap_edu = #{apEdu,jdbcType=VARCHAR},
      </if>
      <if test="apPhone != null">
        ap_phone = #{apPhone,jdbcType=VARCHAR},
      </if>
      <if test="dName != null">
        d_name = #{dName,jdbcType=VARCHAR},
      </if>
      <if test="pPosition != null">
        p_position = #{pPosition,jdbcType=VARCHAR},
      </if>
      <if test="apResume != null">
        ap_resume = #{apResume,jdbcType=VARCHAR},
      </if>
      <if test="iSche != null">
        i_sche = #{iSche,jdbcType=INTEGER},
      </if>
      <if test="apNumber != null">
        ap_number = #{apNumber,jdbcType=VARCHAR},
      </if>
      <if test="apExp != null">
        ap_exp = #{apExp,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ap_id = #{apId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pxxy.personManagement.domain.Apply">
    update apply
    set ap_name = #{apName,jdbcType=VARCHAR},
      ap_age = #{apAge,jdbcType=VARCHAR},
      ap_gender = #{apGender,jdbcType=VARCHAR},
      ap_edu = #{apEdu,jdbcType=VARCHAR},
      ap_phone = #{apPhone,jdbcType=VARCHAR},
      d_name = #{dName,jdbcType=VARCHAR},
      p_position = #{pPosition,jdbcType=VARCHAR},
      ap_resume = #{apResume,jdbcType=VARCHAR},
      i_sche = #{iSche,jdbcType=INTEGER},
      ap_number = #{apNumber,jdbcType=VARCHAR},
      ap_exp = #{apExp,jdbcType=LONGVARCHAR}
    where ap_id = #{apId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pxxy.personManagement.domain.Apply">
    update apply
    set ap_name = #{apName,jdbcType=VARCHAR},
      ap_age = #{apAge,jdbcType=VARCHAR},
      ap_gender = #{apGender,jdbcType=VARCHAR},
      ap_edu = #{apEdu,jdbcType=VARCHAR},
      ap_phone = #{apPhone,jdbcType=VARCHAR},
      d_name = #{dName,jdbcType=VARCHAR},
      p_position = #{pPosition,jdbcType=VARCHAR},
      ap_resume = #{apResume,jdbcType=VARCHAR},
      i_sche = #{iSche,jdbcType=INTEGER},
      ap_number = #{apNumber,jdbcType=VARCHAR}
    where ap_id = #{apId,jdbcType=INTEGER}
  </update>
</mapper>