<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pxxy.personManagement.mapper.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.pxxy.personManagement.domain.Employee">
    <id column="e_id" jdbcType="INTEGER" property="eId" />
    <!-- <result column="p_id" jdbcType="INTEGER" property="position.pId" /> -->
    <result column="e_name" jdbcType="VARCHAR" property="eName" />
    <result column="e_gender" jdbcType="VARCHAR" property="eGender" />
    <result column="e_age" jdbcType="VARCHAR" property="eAge" />
    <result column="e_phone" jdbcType="VARCHAR" property="ePhone" />
    <result column="e_password" jdbcType="VARCHAR" property="ePassword" />
    <result column="e_born" jdbcType="DATE" property="eBorn" />
    <result column="e_ifwork" jdbcType="INTEGER" property="eIfwork" />
    <result column="e_begin" jdbcType="DATE" property="eBegin" />
    <result column="e_edu" jdbcType="VARCHAR" property="eEdu" />
    <result column="e_number" jdbcType="VARCHAR" property="eNumber" />
    <result column="e_address" jdbcType="VARCHAR" property="eAddress" />
    <result column="e_image" jdbcType="VARCHAR" property="eImage" />
    <result column="e_email" jdbcType="VARCHAR" property="eEmail" />
    <result column="e_political" jdbcType="VARCHAR" property="ePolitical" />
    <result column="e_iftalent" jdbcType="INTEGER" property="eIftalent" />
    <!-- <result column="s_id" jdbcType="INTEGER" property="sId.sId" /> -->
    <association property="position" column="p_id" select="com.pxxy.personManagement.mapper.PositionMapper.selectByPrimaryKey"/>
    <association property="sId" column="s_id" select="com.pxxy.personManagement.mapper.SalaryMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    e_id, p_id, e_name, e_gender, e_age, e_phone, e_password, e_born, e_ifwork, e_begin, 
    e_edu, e_number, e_address, e_image, e_email, e_political, e_iftalent, s_id
  </sql>
  <select id="selectByExample" parameterType="com.pxxy.personManagement.domain.EmployeeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from employee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from employee
    where e_id = #{eId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from employee
    where e_id = #{eId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pxxy.personManagement.domain.EmployeeExample">
    delete from employee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pxxy.personManagement.domain.Employee">
    insert into employee (e_id, p_id, e_name, 
      e_gender, e_age, e_phone, 
      e_password, e_born, e_ifwork, 
      e_begin, e_edu, e_number, 
      e_address, e_image, e_email, 
      e_political, e_iftalent, s_id
      )
    values (#{eId,jdbcType=INTEGER}, #{position.pId,jdbcType=INTEGER}, #{eName,jdbcType=VARCHAR}, 
      #{eGender,jdbcType=VARCHAR}, #{eAge,jdbcType=VARCHAR}, #{ePhone,jdbcType=VARCHAR}, 
      #{ePassword,jdbcType=VARCHAR}, #{eBorn,jdbcType=DATE}, #{eIfwork,jdbcType=INTEGER}, 
      #{eBegin,jdbcType=DATE}, #{eEdu,jdbcType=VARCHAR}, #{eNumber,jdbcType=VARCHAR}, 
      #{eAddress,jdbcType=VARCHAR}, #{eImage,jdbcType=VARCHAR}, #{eEmail,jdbcType=VARCHAR}, 
      #{ePolitical,jdbcType=VARCHAR}, #{eIftalent,jdbcType=INTEGER}, #{sId.sId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pxxy.personManagement.domain.Employee">
  	<selectKey keyProperty="eId" order="AFTER" resultType="java.lang.Integer">
  	 SELECT LAST_INSERT_ID()	
 	</selectKey>
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eId != null">
        e_id,
      </if>
      <if test="position.pId != null">
        p_id,
      </if>
      <if test="eName != null">
        e_name,
      </if>
      <if test="eGender != null">
        e_gender,
      </if>
      <if test="eAge != null">
        e_age,
      </if>
      <if test="ePhone != null">
        e_phone,
      </if>
      <if test="ePassword != null">
        e_password,
      </if>
      <if test="eBorn != null">
        e_born,
      </if>
      <if test="eIfwork != null">
        e_ifwork,
      </if>
      <if test="eBegin != null">
        e_begin,
      </if>
      <if test="eEdu != null">
        e_edu,
      </if>
      <if test="eNumber != null">
        e_number,
      </if>
      <if test="eAddress != null">
        e_address,
      </if>
      <if test="eImage != null">
        e_image,
      </if>
      <if test="eEmail != null">
        e_email,
      </if>
      <if test="ePolitical != null">
        e_political,
      </if>
      <if test="eIftalent != null">
        e_iftalent,
      </if>
      <if test="sId != null">
        s_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eId != null">
        #{eId,jdbcType=INTEGER},
      </if>
      <if test="position.pId != null">
        #{position.pId,jdbcType=INTEGER},
      </if>
      <if test="eName != null">
        #{eName,jdbcType=VARCHAR},
      </if>
      <if test="eGender != null">
        #{eGender,jdbcType=VARCHAR},
      </if>
      <if test="eAge != null">
        #{eAge,jdbcType=VARCHAR},
      </if>
      <if test="ePhone != null">
        #{ePhone,jdbcType=VARCHAR},
      </if>
      <if test="ePassword != null">
        #{ePassword,jdbcType=VARCHAR},
      </if>
      <if test="eBorn != null">
        #{eBorn,jdbcType=DATE},
      </if>
      <if test="eIfwork != null">
        #{eIfwork,jdbcType=INTEGER},
      </if>
      <if test="eBegin != null">
        #{eBegin,jdbcType=DATE},
      </if>
      <if test="eEdu != null">
        #{eEdu,jdbcType=VARCHAR},
      </if>
      <if test="eNumber != null">
        #{eNumber,jdbcType=VARCHAR},
      </if>
      <if test="eAddress != null">
        #{eAddress,jdbcType=VARCHAR},
      </if>
      <if test="eImage != null">
        #{eImage,jdbcType=VARCHAR},
      </if>
      <if test="eEmail != null">
        #{eEmail,jdbcType=VARCHAR},
      </if>
      <if test="ePolitical != null">
        #{ePolitical,jdbcType=VARCHAR},
      </if>
      <if test="eIftalent != null">
        #{eIftalent,jdbcType=INTEGER},
      </if>
      <if test="sId != null">
        #{sId.sId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pxxy.personManagement.domain.EmployeeExample" resultType="java.lang.Long">
    select count(*) from employee
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update employee
    <set>
      <if test="record.eId != null">
        e_id = #{record.eId,jdbcType=INTEGER},
      </if>
      <if test="record.position != null">
        p_id = #{record.position.pId,jdbcType=INTEGER},
      </if>
      <if test="record.eName != null">
        e_name = #{record.eName,jdbcType=VARCHAR},
      </if>
      <if test="record.eGender != null">
        e_gender = #{record.eGender,jdbcType=VARCHAR},
      </if>
      <if test="record.eAge != null">
        e_age = #{record.eAge,jdbcType=VARCHAR},
      </if>
      <if test="record.ePhone != null">
        e_phone = #{record.ePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.ePassword != null">
        e_password = #{record.ePassword,jdbcType=VARCHAR},
      </if>
      <if test="record.eBorn != null">
        e_born = #{record.eBorn,jdbcType=DATE},
      </if>
      <if test="record.eIfwork != null">
        e_ifwork = #{record.eIfwork,jdbcType=INTEGER},
      </if>
      <if test="record.eBegin != null">
        e_begin = #{record.eBegin,jdbcType=DATE},
      </if>
      <if test="record.eEdu != null">
        e_edu = #{record.eEdu,jdbcType=VARCHAR},
      </if>
      <if test="record.eNumber != null">
        e_number = #{record.eNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.eAddress != null">
        e_address = #{record.eAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.eImage != null">
        e_image = #{record.eImage,jdbcType=VARCHAR},
      </if>
      <if test="record.eEmail != null">
        e_email = #{record.eEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.ePolitical != null">
        e_political = #{record.ePolitical,jdbcType=VARCHAR},
      </if>
      <if test="record.eIftalent != null">
        e_iftalent = #{record.eIftalent,jdbcType=INTEGER},
      </if>
      <if test="record.sId.sId != null">
        s_id = #{record.sId.sId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update employee
    set e_id = #{record.eId,jdbcType=INTEGER},
      p_id = #{record.position.pId,jdbcType=INTEGER},
      e_name = #{record.eName,jdbcType=VARCHAR},
      e_gender = #{record.eGender,jdbcType=VARCHAR},
      e_age = #{record.eAge,jdbcType=VARCHAR},
      e_phone = #{record.ePhone,jdbcType=VARCHAR},
      e_password = #{record.ePassword,jdbcType=VARCHAR},
      e_born = #{record.eBorn,jdbcType=DATE},
      e_ifwork = #{record.eIfwork,jdbcType=INTEGER},
      e_begin = #{record.eBegin,jdbcType=DATE},
      e_edu = #{record.eEdu,jdbcType=VARCHAR},
      e_number = #{record.eNumber,jdbcType=VARCHAR},
      e_address = #{record.eAddress,jdbcType=VARCHAR},
      e_image = #{record.eImage,jdbcType=VARCHAR},
      e_email = #{record.eEmail,jdbcType=VARCHAR},
      e_political = #{record.ePolitical,jdbcType=VARCHAR},
      e_iftalent = #{record.eIftalent,jdbcType=INTEGER},
      s_id = #{record.sId.sId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pxxy.personManagement.domain.Employee">
    update employee
    <set>
      <if test="position != null">
        p_id = #{position.pId,jdbcType=INTEGER},
      </if>
      <if test="eName != null">
        e_name = #{eName,jdbcType=VARCHAR},
      </if>
      <if test="eGender != null">
        e_gender = #{eGender,jdbcType=VARCHAR},
      </if>
      <if test="eAge != null">
        e_age = #{eAge,jdbcType=VARCHAR},
      </if>
      <if test="ePhone != null">
        e_phone = #{ePhone,jdbcType=VARCHAR},
      </if>
      <if test="ePassword != null">
        e_password = #{ePassword,jdbcType=VARCHAR},
      </if>
      <if test="eBorn != null">
        e_born = #{eBorn,jdbcType=DATE},
      </if>
      <if test="eIfwork != null">
        e_ifwork = #{eIfwork,jdbcType=INTEGER},
      </if>
      <if test="eBegin != null">
        e_begin = #{eBegin,jdbcType=DATE},
      </if>
      <if test="eEdu != null">
        e_edu = #{eEdu,jdbcType=VARCHAR},
      </if>
      <if test="eNumber != null">
        e_number = #{eNumber,jdbcType=VARCHAR},
      </if>
      <if test="eAddress != null">
        e_address = #{eAddress,jdbcType=VARCHAR},
      </if>
      <if test="eImage != null">
        e_image = #{eImage,jdbcType=VARCHAR},
      </if>
      <if test="eEmail != null">
        e_email = #{eEmail,jdbcType=VARCHAR},
      </if>
      <if test="ePolitical != null">
        e_political = #{ePolitical,jdbcType=VARCHAR},
      </if>
      <if test="eIftalent != null">
        e_iftalent = #{eIftalent,jdbcType=INTEGER},
      </if>
      <if test="sId != null">
        s_id = #{sId.sId,jdbcType=INTEGER},
      </if>
    </set>
    where e_id = #{eId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pxxy.personManagement.domain.Employee">
    update employee
    set p_id = #{position.pId,jdbcType=INTEGER},
      e_name = #{eName,jdbcType=VARCHAR},
      e_gender = #{eGender,jdbcType=VARCHAR},
      e_age = #{eAge,jdbcType=VARCHAR},
      e_phone = #{ePhone,jdbcType=VARCHAR},
      e_password = #{ePassword,jdbcType=VARCHAR},
      e_born = #{eBorn,jdbcType=DATE},
      e_ifwork = #{eIfwork,jdbcType=INTEGER},
      e_begin = #{eBegin,jdbcType=DATE},
      e_edu = #{eEdu,jdbcType=VARCHAR},
      e_number = #{eNumber,jdbcType=VARCHAR},
      e_address = #{eAddress,jdbcType=VARCHAR},
      e_image = #{eImage,jdbcType=VARCHAR},
      e_email = #{eEmail,jdbcType=VARCHAR},
      e_political = #{ePolitical,jdbcType=VARCHAR},
      e_iftalent = #{eIftalent,jdbcType=INTEGER},
      s_id = #{sId.sId,jdbcType=INTEGER}
    where e_id = #{eId,jdbcType=INTEGER}
  </update>
</mapper>